@import url('https://fonts.googleapis.com/css?family=Gugi');

html,
body {
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: rgba(2, 0, 36, 0.87);
}

.game {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: fixed;
    width: 640px;
    top: 50%;
    left: 50%;
    font-size: 0;
    transform: translate(-50%, -50%);
    outline: none;
    border: 1px solid #fcfcfc86;

    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.game .arena {
    position: relative;
    width: 100%;
    height: 395px;
}

.arena .bricks {
    position: absolute;
    top: 48px;
    width: 100%;
}

.arena .bricks .brick {
    width: 67px;
    height: 20px;
    margin: 2px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 3px;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.arena .bricks .brick.hide {
    visibility: hidden;
}

.arena .paddle {
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 124px;
    height: 12px;
    background-color: #777;
    border-radius: 3px;
}

.arena .ball {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c00;
}

.game .panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #252525;
    font-family: 'Gugi', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
}

.game .panel>div {
    display: inline-flex;
    padding: 12px 8px;
}

.game .panel>div span {
    display: inline-block;
    padding-left: 5px;
}

.game a {
    color: #ccc;
}
